# Port used by the app
NODE_PORT=3000
# Variables used to create the postgres docker container
POSTGRES_USER=c15
POSTGRES_PASSWORD=c15pass
# Variables used to connect to the postgres container
POSTGRES_DATABASE=c15
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
# In case you aren't using docker to host the database
# you can use an URI instead. For example:
# POSTGRES_URI=postgres://c15:c15pass@localhost:5433/c15
